<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/chessboard-0.3.0.min.css' />
</head>

<body>
  <div id="board1" style="width: 400px"></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/lib/jquery.min.js"></script>
  <script src="/javascripts/lib/chess.min.js"></script>
  <script src="/javascripts/lib/chessboard-0.3.0.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>